<ul class = "navbar" style="list-style: none;">
  <li><a class="active" href="/">Home</a></li>
  <li><a class="active" href="/logout">Log Out</a></li>
  <li><a class="active" href="/register">Create Account</a></li>
</ul>
