<% include ../partials/header %>
<% include ../partials/navbar %>
<body class = "flightBody">
<div class = "container">
  <div class = "content">
    <h1 id = "mainHeader">Travel Dash</h1>
    <h2 id = "question">Flight Information</h2> <!--insert logic here-->
    <table class = 'table'>
          <thead>
            <tr>
              <th>Start</th>
              <th>Destination</th>
            </tr>
          </thead>
          <tbody>
            <% for(var i = 0; i<flights.length; i++){ %>
            <tr>
                <td><%= flights[i].start %></td>
                <td><%= flights[i].destination %></td>
              <% } %>
            </tr>
          </tbody>
        </table>
    <h2 id = "question">Create New Flight</h2>
    <form action="/airlines" method="post" id = "standardBody">
      <input type="text" name="start" placeholder="Depart">
      <input type="text" name="destination" placeholder="Arrive">
      <input type="submit">
    </form>
  </div>
</div>
<% include ../partials/footer %>
