<% include ../partials/header %>
<ul class = "navbar" style="list-style: none;">
  <li><a class="active" href="/airlines/logout">Log Out</a></li>
</ul>
<body class = "flightBody">
<div class = "container">
  <% include ../partials/message %>
  <br>
  <div class = "content">
    <p id = "mainHeader">Travel Dash</p>
    <h2 id = "tagline2"><%= airline.name %> Flight Information</h2> <!--insert logic here-->
    <table class = 'table'>
          <thead>
            <tr>
              <th>Start</th>
              <th>Destination</th>
            </tr>
          </thead>
          <tbody>
            <% for(var i = 0; i<flights.length; i++){ %>
            <tr>
                <td><%= flights[i].start %></td>
                <td><%= flights[i].destination %></td>
              <% } %>
            </tr>
          </tbody>
        </table>
    <h2 id = "question">Create New Flight</h2>
    <form action="/airlines" method="post" id = "standardBody">
      <input type="text" name="start" placeholder="Depart">
      <input type="text" name="destination" placeholder="Arrive">
      <input type="submit">
    </form>
  </div>
</div>
<% include ../partials/footer %>
