<% include ../partials/header %>
<% include ../partials/navbar %>
<body class = "homepageBody">
<div class = "container">
  <div class = "content">
    <h1 id = "mainHeader">Travel Dash</h1>
    <h2 id = "tagline">Customized flight and airline tracking for your travels.</h2>
    <h2 id = "question">Log In!</h2>
    <form action="/login" method="post" id = "standardBody">
      <input type="text" name="email" placeholder="Email">
      <input type="text" name="password" placeholder="Password">
      <input type="submit">
    </form>
    <p id = "standardBody">Not a member? <a href = "/register"><b>Click here</b></a> to sign up!<p>
  </div>
</div>
<% include ../partials/footer %>
