<% include ../partials/header %>
<ul class = "navbar" style="list-style: none;">
  <li><a class="active" href="/">Home</a></li>
  <li><a class="active" href="/airlines/login">Admin? Click here!</a></li>
</ul>
<body class = "registerBody">
<div class = "container">
  <% include ../partials/message %>
  <br>
  <div class = "content">
    <p id = "mainHeader">Travel Dash</p>
    <h2 id = "tagline">Customized flight and airline tracking.</h2>
    <h2 id = "question">New User - Register Below!</h2>
    <form action="/register" method="post">
      <input type="text" name="name" placeholder="Name (First and Last)">
      <input type="email" name="email" placeholder="Email">
      <input type="password" name="password" placeholder="Password">
      <input type="submit">
    </form>
  </div>
</div>
<% include ../partials/footer %>
